<p style="color: green"><%= notice %></p>

<% content_for :title, "Bancos" %>

<h1>Bancos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Backup</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @bancos.each do |banco| %>
      <tr>
        <td><%= banco.name %></td>
        <td><%= banco.tipo %></td>
        <td><%= banco.backup.attached? ? banco.backup.filename.to_s : '-' %></td>
        <td>
          <div class="actions">
            <%= link_to "Mostrar", banco, class: 'btn' %>
            <%= link_to "Editar", edit_banco_path(banco), class: 'btn' %>
            <%= link_to "Excluir", banco, data: { turbo_method: :delete, turbo_confirm: "Tem certeza?" }, class: 'btn btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to "Novo banco", new_banco_path %>
</p>
