<p style="color: green"><%= notice %></p>

<% content_for :title, "Instalações" %>

<h1>Instalações</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>App Server</th>
      <th>DB Access</th>
      <th>Banco</th>
      <th>Criado por</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @instalacaos.each do |instalacao| %>
      <tr>
        <td><%= instalacao.name %></td>
        <td><%= instalacao.appserver_binario&.name %></td>
        <td><%= instalacao.dbaccess_binario&.name %></td>
        <td><%= instalacao.banco&.name %></td>
        <td>
          <% if instalacao.user&.avatar&.attached? %>
            <%= image_tag instalacao.user.avatar, alt: instalacao.user.display_name, style: "width:20px;height:20px;border-radius:50%;object-fit:cover;vertical-align:middle;margin-right:6px;" %>
          <% end %>
          <%= instalacao.user&.display_name %>
        </td>
        <td>
          <div class="actions">
            <%= link_to "Mostrar", instalacao, class: 'btn' %>
            <%= link_to "Editar", edit_instalacao_path(instalacao), class: 'btn' %>
            <%= link_to "Manutenção", maintenance_instalacao_path(instalacao), class: 'btn btn-secondary' %>
            <%= link_to "Excluir", instalacao, data: { turbo_method: :delete, turbo_confirm: "Tem certeza?" }, class: 'btn btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to "Nova instalação", new_instalacao_path %>
</p>
