<div id="<%= dom_id binario %>">
  <p>
    <strong>Name:</strong>
    <%= binario.name %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= binario.tipo %>
  </p>

  <p>
    <strong>Download url:</strong>
    <%= binario.download_url %>
  </p>

  <p>
    <strong>Auth username:</strong>
    <%= binario.auth_username %>
  </p>

  <p>
    <strong>Auth password:</strong>
    <%= binario.auth_password %>
  </p>

</div>
