<p style="color: green"><%= notice %></p>

<% content_for :title, "Bin치rios" %>

<h1>Bin치rios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>URL</th>
      <th>Usu치rio</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @binarios.each do |binario| %>
      <tr>
        <td><%= binario.name %></td>
        <td><%= binario.tipo %></td>
        <td><%= binario.download_url %></td>
        <td><%= binario.auth_username %></td>
        <td>
          <div class="actions">
            <%= link_to "Mostrar", binario, class: 'btn' %>
            <%= link_to "Editar", edit_binario_path(binario), class: 'btn' %>
            <%= link_to "Excluir", binario, data: { turbo_method: :delete, turbo_confirm: "Tem certeza?" }, class: 'btn btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to "Novo bin치rio", new_binario_path %>
</p>
